<ul>
  <li><%= link_to pokemon.name, pokemon %></li>
  <li>Attack: <%= pokemon.attack %></li>
  <li>Defense: <%= pokemon.defense %></li>
  <li>Happiness: <%= pokemon.happiness %></li>
  <li>Speed: <%= pokemon.speed %></li>
  <li>Species: <%= pokemon.species %></li>
  <li>Growth Rate: <%= pokemon.growth_rate %></li>
  <img src="<%= pokemon.image_url %>"/>
</ul>
